<%= form_tag request.url, :method => :get do %>
  <p >
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search posts", :name => nil %>
  </p>
<% end %>
<br />
<table  class="microposts">
  <%= render @microposts %>
</table>

<%= will_paginate @microposts %>

