<%= link_to logo, root_path %>
<header>
  <nav class="round" >
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Auto", auto_path %></li>
      <li><%= link_to "Collectable", collectable_path %></li>
      <li><%= link_to "Nostalgia", nostalgia_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "How It Works", howitworks_path %></li>
      <% if signed_in? %>
      <li><%= link_to "Profile", edit_user_registration_path %></li>
      <li><%= link_to "Settings", edit_user_registration_path(current_user) %></li>
      <% end %>
      <% if signed_in? %>
      <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
      <% else %>
      <li><%= link_to "Sign in", new_user_session_path %></li>
      <% end %>
    </ul>
  </nav>
</header>

