<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<%= csrf_meta_tag %>
<%= javascript_include_tag :defaults %>

<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/anylinkmenu.css" />
<script type=text/javascript src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="/javascript/menucontents.js"></script>
<script type="text/javascript" src="/javascript/anylinkmenu.js"></script>
<script type="text/javascript">
jQuery.noConflict();
//anylinkmenu.init("menu_anchors_class") //Pass in the CSS class of anchor links (that contain a sub menu)
anylinkmenu.init("menuanchorclass")
</script>
<title><%= title %></title>
</head>
<body>
<div id="wrapper">
		<% flash.each do |key, value| %>
          <%= content_tag(:div, value, :class => "flash #{key}") %>
        <% end %>
    	<div id="header">
    	  <div id="loginBox"><%= link_to image_tag("/images/login.png", :class => "login"), new_user_session_path %><%= link_to image_tag("/images/signup.png", :class => "signup"), "" %></div></div>
		<div id="topNavigation">
        <div id="menu">
        <ul>
        <li><%= link_to "How It Works", howitworks_path %></li>
        <li><a href="#" id="categories" class="menuanchorclass" rel="anylinkmenu1">Categories</a></li>
        <li><%= link_to "Contact", contact_path %></li>
        </ul>
        </div>
        <div id="search">
        <div id="boxFrame"><input type="text" class="box" value="Search..." onclick="if(this.value=='Search...'){this.value=''}" onblur="if(this.value==''){this.value='Search...'}" /></div>
        </div>
        </div>
  		<div id="content">
        <div id="column1">
			<%= yield %>
		</div>
		<div id="column2">
         	<%= yield :sidebar %>
		</div>
        </div>
        <div id="footer">
        <div id="footerMenu"><ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Auto</a></li>
        <li><a href="#">Collectibles</a></li>
        <li><a href="#">Nostalgia</a></li>
        <li><a href="#">How it Works</a></li>
        <li><a href="#">Contact Us</a></li>
        <li class="last"><a href="#">Sign In</a></li>
        </ul></div>
        <div class="copyright">Copyright &copy; 2012 Lookinforit.com All rights reserved.</div>
        <div class="clear"></div>
        <p class="disclaimer">&nbsp;</p>
        <p class="disclaimer">&nbsp;</p>
        </div>
</div>
</body>
</html>